.container-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.about-me-first p,
.about-me-last p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-shadow:
        2px 1px 0px hsl(0, 0%, 0%),
        4px 4px 2px rgb(16, 9, 9);
}

.arcade-image {
    position: relative;
    width: 300px;
    height: 300px;
    background-image: url("../../../assets/icons/arcade.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem 0;
    cursor: pointer;
}

.colors {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 80px;
    left: 110px;
    animation: neon 0.5s ease-in-out infinite alternate;
}

.click {
    position: absolute;
    background-image: url("../../../assets/icons/click.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 60px;
    animation: clicker 1s infinite;
}

@keyframes neon {
    from {
        box-shadow: 0 0 10px #00000085, 0 0 20px #00000085, 0 0 30px #00000085, 0 0 40px #ff9900,
            0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }

    to {
        box-shadow: 0 0 5px #00000085, 0 0 10px #00000085, 0 0 15px #00000085, 0 0 20px #ff9900,
            0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
}

@keyframes clicker {
    0% {
        transform: rotateZ(-30deg);
        transform: scale(1);
    }

    50% {
        transform: rotateZ(-30deg);
        transform: scale(1.3);
    }

    100% {
        transform: rotateZ(-30deg);
        transform: scale(1);
    }
}