.container-about-me {
    padding: 0 1rem;
    max-width: 1200px;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.container-ballons{
    width: 100%;
}

.nes-balloon{
    min-width: 200px;
    max-width: 700px;
    font-size: 12px;
}


.arcade-image {
    position: relative;
    background-image: url("../../../assets/arcade/arcadeGame.png");
    width: 310px;
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 125px 90px 260px 80px;
    cursor: pointer;
}

.pacman-image {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-image: url("../../../assets/arcade/pacman.gif");
    background-size: 100% 100%;
    z-index: -99;
}

.insert-coin {
    color: white;
    font-size: 6px;
    animation: blink 1s linear infinite;
}

.hide-text {
    display: none;
}

.filter {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: black;
    padding: 0 .2rem;
    width: 112px;
    height: 95px;
    z-index: -99;
}


@media (max-width: 768px) {
    .container-about-me{
        flex-direction: column;
    }

    .nes-balloon{
        width: 98%;
    }

    .filter {
        width: 135px;
    }
}


