.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff83;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: .5rem;
    backdrop-filter: blur(5px);
    height: 50px;
}

.menu {
    position: fixed;
    top: 50px;
    right: -300px;
    width: 250px;
    height: 100vh;
    background-color: #050505;
    text-align: center;
    transition: right 0.3s ease;
}

.menu.open {
    right: 0;
}

.menu p {
    font-size: 12px;
    margin: .8rem auto;
}

.menu hr {
    margin: 0;
}


.menu-button {
    cursor: pointer;
}

.menu-characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-soundtrack img,
.menu-button {
    width: 32px;
    height: 32px;
}