@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.shine {
    animation: shine 1.5s ease-in-out infinite;
    cursor: pointer;
}

