.container-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto auto;
}

.contact-top-info{
    margin-bottom: 3rem;
}

.contact-top-info div{
    display: flex;
    align-items: center;
    margin: 1rem;
}

.contact-top-info div p{
    margin: 0;
}


.contact-top-info i{
    font-size: 32px;
    margin-right: 1rem;
    padding-bottom: .5rem;
}


.contact-bottom form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding: 1rem;
}

#userEmail, #userSubject, #userMessage{
    padding: .5rem;
    margin-bottom: 1rem;
}

#userMessage{
    resize: none;
}

.error-message{
    color: #f30505;
    animation: blink .5s infinite linear;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .contact-top-info{
        font-size: 9px;
    }
}

@media screen and (min-width: 425px) and (max-width: 576px) {
    .contact-top-info{
        font-size: 12px;
    }
}