.container-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0A7F8B;
    position: fixed;
    top: -10px;
    width: 99.25%;
    height: 50px;
    z-index: 99;
    padding: 0 .3rem !important;
}

.container-soundtrack span, .menu-text{
    cursor: pointer;
    position: relative;
    top: 6px;
}

.menu {
    position: fixed;
    top: 45px;
    right: -300px;
    width: 250px;
    height: calc(100vh - 50px);
    background-color: #0A7F8B;
    text-align: center;
    transition: right 0.3s ease;
}

.menu.open {
    right: 0;
    padding: 0;
}

.menu p {
    font-size: 12px;
    margin: .5rem auto;
}

.menu hr {
    margin: 0 0 1rem 0;
}


.menu-characters {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


@media screen and (min-height: 320px) and (max-height: 576px) {
    .character-image{
        width: 50px;
    }
}

@media screen and (min-height: 577px) {
    .menu-characters{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}
