.container-footer {
  display: flex;
  justify-content: center;
  background-color: #0a7f8b;
  padding: 1rem 0px;
  border-top: 2px black solid;
}

.container-footer p {
  font-size: 14px;
  margin: 0;
}
