@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Serif:opsz@8..144&display=swap');

:root{
    --toastify-color-success: #333C57;
    --toastify-font-family: 'Press Start 2P';
}

.Toastify__toast{
    border: 2px solid black;
}


.Toastify__toast-body div{
    font-size: 14px;
    text-shadow:
            2px 1px 0px hsl(0, 0%, 0%),
            4px 4px 2px rgb(16, 9, 9);
}