.container-proyects{
    background-color: #11ADC1;
}

.proyects{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    .proyects{
        flex-direction: column;
        align-items: center;
    }
}